:root {
    --background1:rgb(0, 0, 77);
    --background2:rgb(35, 0, 100);
    --background3:rgb(42, 0, 121);
    --background4:rgb(54, 1, 153);
    --background5:rgb(64, 0, 184);
    --person:rgb(13, 0, 201);
    --gold:rgb(191, 151, 52);
    --text:var(--gold);
}

@font-face {
    font-family: 'cousine';
    src: url(../../font/Cousine-Regular.ttf);
}

@font-face {
    font-family: 'cousine';
    src: url(../../font/Cousine-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'cousine';
    src: url(../../font/Cousine-Italic.ttf);
    font-style: italic;
}

.image>img {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 600px;
    transition: 0.3s;
}
.image:active>img {
    opacity: 1;
    z-index: 1000;
}
#setupTable td {
    border:1px solid var(--gold);
    padding: 5px;
}
#setupTable {
    border-collapse: collapse;
}
#clearStorage {
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: none;
    flex-direction: column;
    border-radius: 17px 0px 0px 0px;
    border: var(--gold) solid 2px;
    border-bottom: none;
    border-right: none;
    background-color: var(--background2);
    z-index: 900;
}
.newInitiative {
    font-weight: normal;
    font-size: 20px;
}
input[type="number"] {
    width: 30px;
}
#thisPersonsTurnNow>* {
    background-color: var(--person);
    opacity: 1;
    z-index: 10;
}

#thisPersonsTurnNow:active>* {
    z-index: 1001;
}

input {
    background-color: var(--background3);
    border:none;
    font-variant: normal;
}
button {
    background-color: var(--background3);
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    border:2px solid var(--gold);
}

body {
    background-color: var(--background1);
}
* {
    color: var(--text);
    font-variant: small-caps;
    margin: 0px;
    font-family: cousine;
    font-weight: bold;
}
h2 {
    padding-top: 5px;
    padding-bottom: 2px;
}