
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.folder {
    text-decoration: none;
    color: #abffc0;display: inline-block;
    font-size: 25px;
    border-style: solid; 
    padding: 3px; 
    line-height: 40px; 
    border-color: rgb(162, 255, 240); 
    text-decoration: none; 
    color: black; 
}
h1 {    text-decoration: none;
    color: #ffffff;display: inline-block;
    font-size: 30px;
    font-family: 'Lobster Two', cursive;  
}

body { text-align: center;    
    background: linear-gradient(135deg, rgb(0, 142, 2) 0%, rgb(44, 135, 142) 125%);
    cursor: url(images/Cursor.png);
} 
a {
    font-family: 'Montserrat';
} 
image {
    border-width: 0px;
}
.secret {
    text-align: right;
    font-size: 5px;
}